.footer-border,
.footer-sub-border {
    border-bottom: 1px solid #eaeaea
}

.border-rad-20,
.feature-mweb-card,
.img-cont-box-shadow,
.persona-card {
    border-radius: 20px
}

*,
.carousel-wrapper * {
    box-sizing: border-box
}

body,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #fff
}

* {
    font-family: inter
}

a,
a:active,
a:focus,
a:hover {
    text-decoration: none
}

input[type=number] {
    -moz-appearance: textfield
}

input:focus {
    outline: 0
}

.h-452 {
    height: 452px
}

.w-350 {
    width: 350px
}

.h-381 {
    height: 381px
}

.h-451 {
    height: 451px
}

.max-h-300 {
    max-height: 300px
}

.custom-feedback-box-shadow {
    box-shadow: 0 2px 4px rgba(157, 182, 217, .2)
}

.img-cont-box-shadow {
    box-shadow: 16px 16px 30px 0 rgba(49, 69, 86, .08)
}

.img-cont-vertical-box-shadow {
    border-radius: 20px;
    box-shadow: 22px 22px 40px 0 rgba(49, 69, 86, .1)
}

.web-sol-box-img {
    box-shadow: 22px 22px 40px rgba(49, 69, 86, .1)
}

.bg-clr,
.bg-custom-grey,
.fd-title,
.ft-body,
.ft-det-sticky-part {
    background-color: #f9fafb
}

.min-wid-78 {
    min-width: 78px
}

.line-h-46,
.line-height {
    line-height: 46px
}

.desktop-only,
.mordern-border-trans .animation-bar-2,
.mordern-border-trans .mordern-para,
.mordern-border-trans-1 .animation-bar-2,
.mordern-border-trans-1 .mordern-para,
.mordern-border-trans-2 .animation-bar-2,
.mordern-border-trans-2 .mordern-para,
.mordern-border-trans-3 .mordern-para,
.school-logo-container:hover+.show-sch-name {
    display: block
}

.tm-tfi-bg-dark-blue {
    background: #1f3965
}

.tm-tfi-white-color {
    color: #fff !important
}

.tm-tfi-h5 {
    font-size: 18px;
    line-height: 23px;
    font-weight: 600;
    color: #1f3965
}

.tm-tfi-border-white-top {
    border-top: 1px solid rgba(242, 244, 248, .4)
}

.tm-tfi-hide-scrollbar::-webkit-scrollbar {
    display: none
}

.grecaptcha-badge {
    visibility: hidden
}

.tm-sp-max-width-1 {
    margin: auto;
    width: calc(100% - 360px);
    background-color: #f9fafb
}

.testinomial-br-black-op {
    border-top: 1px solid rgba(0, 0, 0, .1)
}

.persona-fr-every {
    color: #56ccdf
}

.persona-sch-bg {
    background-color: #fffaeb
}

.persona-tea-bg {
    background-color: #eefdff
}

.persona-stu-bg {
    background-color: #f5eefe
}

.persona-par-bg {
    background-color: #fff3f7
}

.person-par {
    color: #4d4d4d;
    font-size: 1rem;
    line-height: 1.25rem;
    z-index: 999
}

.persona-card {
    float: left;
    margin-bottom: 2.75rem;
    min-height: 316px;
    max-height: 316px;
    position: relative;
    padding: 40px
}

.persona-bg-img {
    width: calc(50% - 20px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 289px auto;
    opacity: 1
}

.persona-card:nth-child(2n) {
    margin-left: 20px
}

.persona-card:nth-child(odd) {
    margin-right: 20px
}

.persona-know-more {
    position: absolute;
    bottom: 40px;
    cursor: pointer
}

.unlock-txt {
    height: 75px;
    width: 300px;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    color: #000;
    border-left: 2px solid #383ce1;
    padding-left: 22px
}

.mordern-para,
.unlock-txt br {
    display: none
}

.stats-part {
    padding: .3em 2.2em;
    background: linear-gradient(to bottom, #dcdcdc00, #dcdcdc, #dcdcdc00);
    background-size: 1px 100%;
    background-position: top 0 right 0;
    background-repeat: no-repeat
}

.stats-part:nth-child(4) {
    border-right: none
}

.stats-number {
    color: #000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 31px
}

.stats-plus {
    margin-left: 5px;
    color: #39cbdf
}

.stats-desc {
    font-size: 1rem;
    line-height: 1.3rem;
    color: #4d4d4d;
    font-weight: 500;
    margin-top: 1rem
}

.school-blur,
.school-blur:hover,
.school-logo-container,
.school-logo-container:hover {
    -webkit-filter: blur(0px)
}

.school-blur:hover+.show-sch-name {
    display: block;
    left: -62px
}

.tm-ambassador-title {
    height: 511px;
    max-height: 511px;
    width: auto !important;
    min-width: auto
}

.title-part-text {
    font-size: 56px;
    line-height: 75px
}

.footer-heading,
.footer-sub {
    line-height: 14px;
    font-weight: 400
}

.tm-tfi-max-width {
    width: 90%;
    margin: auto;
    padding-bottom: 88px;
    max-width: 1140px
}

.footer-heading {
    color: #5e5e5e;
    font-size: 14px
}

.footer-sub {
    color: #000 !important;
    font-size: 12px;
    padding: 1rem 0;
    width: 180px
}

.footer-width {
    width: calc(100% - 22.5rem)
}

.testinomial-bg-img-css {
    background-position: 40px 40px, 252px 16px;
    background-size: 30px 24px, 82px 82px;
    background-repeat: no-repeat, no-repeat
}

.testimonial-bg-img-mweb {
    background-size: 42px 34px, 67px 67px;
    background-position: 30px 30px, 238px 15px !important
}

.testinomial-bg-img-1 {
    background-image: url("../images/new-landing/testimonial-quote.svg"), url("../images/new-landing/testinomial-bg-1.svg")
}

.testinomial-bg-img-2 {
    background-image: url("../images/new-landing/testimonial-quote.svg"), url("../images/new-landing/testinomial-bg-2.svg")
}

.testinomial-bg-img-3 {
    background-image: url("../images/new-landing/testimonial-quote.svg"), url("../images/new-landing/testinomial-bg-3.svg")
}

.footer-border {
    border-top: 1px solid #eaeaea
}

.feature-mweb-card {
    width: 295px;
    min-width: 295px
}

.feature-mweb-car-class {
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    margin: auto
}

.feature-mweb-car-class::-webkit-scrollbar {
    display: none !important;
    width: 0
}

.ft-body {
    padding-bottom: 90px
}

.ft-heading-circle {
    background-image: url("../images/new-landing/circle-1.svg");
    background-repeat: no-repeat;
    background-size: 380px 380px;
    background-position: 800px -100px
}

.fd-title {
    padding-top: 6rem;
    width: calc(100% + 200px);
    margin-left: -100px;
    padding-left: 100px;
    z-index: 6;
    top: -20px;
    padding-bottom: 70px;
    bottom: 200px;
    line-height: 46px !important
}

.feature-det-cont {
    width: 100%;
    position: relative;
    opacity: 1
}

.ft-det-sticky-part {
    width: 100%;
    z-index: 4
}

.ft-left-cont,
.ft-right-cont {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column
}

.ft-feat-title {
    margin-top: 1rem;
    color: #000;
    font-weight: 600
}

.ft-feat-desc {
    color: #4d4d4d;
    font-weight: 500;
    margin-top: 10px
}

.ft-page-count {
    color: #df8939;
    font-weight: 500
}

.ft-learn-more,
.tm-tfi-button5 {
    font-weight: 600;
    cursor: pointer
}

.ft-learn-more {
    margin-top: 1.5rem;
    color: #383ce1
}

@keyframes scroll {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.slider {
    margin: 30px auto auto;
    overflow: hidden;
    position: relative;
    width: 100%
}

.slider::after {
    right: 0;
    top: 0
}

.slider::before {
    left: 0;
    top: 0
}

.slide-track {
    animation: 42s linear infinite scroll;
    display: flex;
    width: auto
}

.slide img {
    min-height: 382px;
    max-height: 382px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 40px;
    max-width: 576px;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.tm-tfi-bg-medium-gray {
    background: #e8f1ff
}

.opacity-text-slider {
    opacity: .5
}

.mordern-learning-1-carousel-slide-item,
.mordern-learning-2-carousel-slide-item,
.mordern-learning-3-carousel-slide-item,
.mordern-learning-carousel-slide-item,
.sm-1-carousel-slide-item,
.sm-2-carousel-slide-item,
.sm-3-carousel-slide-item,
.testimonial-carousel-slide-item,
.testimonial-carousel-slide-item-mweb {
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s
}

.feature-animate,
.feature-de-animate {
    display: block !important;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards
}

.mordern-learning-1-carousel-slide-item.active,
.mordern-learning-1-carousel-slide-item.initial,
.mordern-learning-2-carousel-slide-item.active,
.mordern-learning-2-carousel-slide-item.initial,
.mordern-learning-3-carousel-slide-item.active,
.mordern-learning-3-carousel-slide-item.initial,
.mordern-learning-carousel-slide-item.active,
.mordern-learning-carousel-slide-item.initial,
.sm-1-carousel-slide-item.active,
.sm-1-carousel-slide-item.initial,
.sm-2-carousel-slide-item.active,
.sm-2-carousel-slide-item.initial,
.sm-3-carousel-slide-item.active,
.sm-3-carousel-slide-item.initial,
.testimonial-carousel-slide-item-mweb.active,
.testimonial-carousel-slide-item-mweb.initial,
.testimonial-carousel-slide-item.active,
.testimonial-carousel-slide-item.initial {
    opacity: 1;
    position: relative;
    z-index: 900
}

.mordern-learning-1-carousel-slide-item.next,
.mordern-learning-1-carousel-slide-item.prev,
.mordern-learning-2-carousel-slide-item.next,
.mordern-learning-2-carousel-slide-item.prev,
.mordern-learning-3-carousel-slide-item.next,
.mordern-learning-3-carousel-slide-item.prev,
.mordern-learning-carousel-slide-item.next,
.mordern-learning-carousel-slide-item.prev,
.sm-1-carousel-slide-item.next,
.sm-1-carousel-slide-item.prev,
.sm-2-carousel-slide-item.next,
.sm-2-carousel-slide-item.prev,
.sm-3-carousel-slide-item.next,
.sm-3-carousel-slide-item.prev,
.testimonial-carousel-slide-item-mweb.next,
.testimonial-carousel-slide-item-mweb.prev,
.testimonial-carousel-slide-item.next,
.testimonial-carousel-slide-item.prev {
    z-index: 800
}

.mordern-learning-1-carousel-slide-item.prev,
.mordern-learning-2-carousel-slide-item.prev,
.mordern-learning-3-carousel-slide-item.prev,
.mordern-learning-carousel-slide-item.prev,
.sm-1-carousel-slide-item.next,
.sm-2-carousel-slide-item.next,
.sm-3-carousel-slide-item.next,
.testimonial-carousel-slide-item-mweb.prev,
.testimonial-carousel-slide-item.prev {
    transform: translateX(-100%)
}

.mordern-learning-1-carousel-slide-item.next,
.mordern-learning-2-carousel-slide-item.next,
.mordern-learning-3-carousel-slide-item.next,
.mordern-learning-carousel-slide-item.next,
.sm-1-carousel-slide-item.prev,
.testimonial-carousel-slide-item-mweb.next,
.testimonial-carousel-slide-item.next {
    transform: translateX(100%)
}

.testimonial-carousel-control-dot,
.testimonial-carousel-control-item,
.testimonial-carousel-control-item-mweb {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #6b82ab;
    cursor: pointer;
    box-shadow: 0 3px 6px #00000029;
    margin: 0 4px
}

.testimonial-carousel-control-item-selected,
.testimonial-carousel-control-item-selected-mweb,
.testimonial-carousel-selected-dot,
.tm-tfi-button5 {
    background-color: #383ce1
}

.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    margin: auto
}

.carousel {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.feedback-bg-gradient {
    background-image: linear-gradient(#fffaeb, rgb(255, 250, 235, 0))
}

.vertical-car {
    transition: transform 3s;
    transform: translate(0, -300px)
}

.reverse-vertical-car {
    transition: transform 3s;
    transform: translate(0, 0)
}

.feature-animate {
    animation-name: animate-fade
}

@keyframes animate-fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.feature-de-animate {
    animation-name: de-animate-fade
}

@keyframes de-animate-fade {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.ml-m-web-box-shadow {
    box-shadow: 0 2px 4px rgba(157, 182, 217, .2);
    background-image: #f9fafb
}

.tm-tfi-button5 {
    font-size: 16px;
    color: #fff;
    padding: 8px 24px;
    border-radius: 36px
}

.feature-right-img-cont {
    height: 520px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 220px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #eee
}

.persona-img {
    width: 200px;
    height: 300px;
    object-fit: cover
}

@media only screen and (max-width:1024px) {
    .custom-feedback-box-shadow-2 {
        box-shadow: 0 2px 4px rgba(157, 182, 217, .2)
    }
    .tm-tfi-h5 {
        font-size: 20px;
        line-height: 26px
    }
    .simplify-img-cover {
        height: 270px;
        width: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        margin: 16px 16px 0
    }
    .simplify-img-cover img {
        height: auto;
        width: auto;
        max-width: 100% !important;
        max-height: 100% !important
    }
    .tm-tfi-max-width {
        width: 84%;
        max-width: 1140px
    }
    .footer-width {
        width: 90%
    }
    .tm-ambassador-title {
        height: 100%;
        margin-left: 40px
    }
    .title-part-text {
        font-size: 24px;
        line-height: 30px
    }
    .unlock-txt {
        width: 100%;
        font-weight: 300;
        font-size: 16px;
        line-height: 21px;
        color: #000;
        text-align: center;
        border: none;
        padding-left: 0
    }
    .unlock-txt br {
        display: block
    }
    .stats-part {
        height: 10rem;
        padding: 2.5rem 0;
        float: left;
        width: 50%;
        text-align: center
    }
    .stats-part:first-child {
        background: linear-gradient(to right, #dcdcdc00 0, #dcdcdc 100%), linear-gradient(to bottom, #dcdcdc00 0, #dcdcdc 100%);
        background-size: 100% 1px, 1px 100%;
        background-position: bottom 0 left 0, top 0 right 0;
        background-repeat: no-repeat
    }
    .stats-part:nth-child(2) {
        background: linear-gradient(to left, #dcdcdc00 0, #dcdcdc 100%);
        background-size: 100% 1px, 1px 100%;
        background-position: bottom 0 left 0;
        background-repeat: no-repeat
    }
    .stats-part:nth-child(3) {
        background: linear-gradient(to top, #dcdcdc00 0, #dcdcdc 100%);
        background-size: 1px 100%;
        background-position: top 0 right 0;
        background-repeat: no-repeat
    }
    .stats-part:nth-child(4) {
        background: top 0 right 0/1px 100% no-repeat
    }
    .stats-desc,
    .stats-number {
        display: flex;
        justify-content: center;
        align-content: center
    }
    .tm-tfi-button5 {
        font-size: 16px;
        padding: 8px 24px
    }
    .slide img {
        max-height: 248px;
        min-height: 248px;
        max-width: 320px
    }
    .desktop-only,
    .persona-card br {
        display: none
    }
    .tm-sp-max-width-2 {
        width: 100%;
        max-width: 1140px;
        margin: auto;
        background-color: #fff;
        padding-right: 20px
    }
    .persona-card {
        float: none;
        margin: auto auto 44px !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 214px;
        position: relative
    }
    .persona-bg-img {
        width: calc(100%);
        max-width: 400px;
        background-size: 184px 206px;
        opacity: 1
    }
    .person-par {
        font-size: 14px;
        line-height: 18px
    }
    .persona-know-more {
        position: absolute;
        bottom: 20px
    }
    .ft-body {
        padding: 4rem 20px
    }
    .fd-title {
        padding-top: 0
    }
    .persona-img {
        width: 118px
    }
}

.mordern-border-trans,
.mordern-border-trans-1,
.mordern-border-trans-2 {
    transition: .1s ease-in
}

.mordern-title {
    line-height: 19px;
    font-size: 16px;
    color: #aeafb0;
    font-weight: 600
}

.mordern-border-trans .mordern-title,
.mordern-border-trans-1 .mordern-title,
.mordern-border-trans-2 .mordern-title,
.mordern-border-trans-3 .mordern-title {
    color: #000
}

.mordern-border-trans .animation-bar-2 span {
    background-color: #df4339
}

.mordern-border-trans-1 .animation-bar-2 span {
    background-color: #39addf
}

.mordern-border-trans-2 .animation-bar-2 span {
    background-color: #3940df
}

.mordern-border-trans-3 {
    border-left: 3px solid #df8939;
    transition: .1s ease-in
}

.sm-2-carousel-slide-item.prev,
.sm-3-carousel-slide-item.prev {
    transform: translateX(200%)
}

.animation-bar-2 {
    position: relative;
    bottom: -11px;
    display: none
}

.animation-bar-2 span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 3px;
    background-size: 100%;
    animation: 4s infinite progress-anim-2
}

.animation-bar-2 span:before {
    position: absolute;
    right: 0;
    bottom: 100%;
    display: inline-block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-width: 0;
    border-bottom-width: 0;
    content: ""
}

.animation-bar-2 span:after {
    position: absolute;
    right: 0;
    bottom: calc(100% + 5px);
    z-index: 1;
    padding: 5px;
    border-radius: 3px;
    font-size: .8em;
    color: #fff
}

@-webkit-keyframes progress-anim-2 {
    0% {
        width: 0%
    }
    100% {
        width: 100%
    }
}

.tm-results-nudge-popup {
    background: linear-gradient(139.88deg, #383ce1 11.85%, rgba(153, 21, 165, .9) 111.16%);
    box-shadow: 0 14px 28px rgba(157, 182, 217, .2);
    animation-name: slide_from_right;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 1;
    animation-fill-mode: forwards
}

@keyframes slide_from_right {
    0% {
        right: max(calc(-1 * (378px + 24px)), calc(-1 * 24px - 90vw))
    }
    100% {
        right: 100px;
        z-index: 13
    }
}

.lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr))
}